.git
.gitignore
.agents
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/debugbar
.env
.env.example
bot.log
bot-err.log
*.md
dokumentasi
opencode.json.bak
